html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #282c34;
  z-index: -9999 !important;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

p {
  font-size: 1.3rem;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -10;
  overflow: hidden;
}

.content {
  overflow: auto;
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.svg {
  height: 100px;
  width: 90px;
}

.btn {
  font-weight: 700;
}

.btn-xl {
  font-size: 1.5rem;
  padding: .5rem 1rem;
}

.btn-primary {
  background-color: #61dafb;
  border-color: #61dafb;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #3cd1fa !important;
  border-color: #3cd1fa !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem white !important;
          box-shadow: 0 0 0 0.2rem white !important;
}

#mainNav {
  background-color: #212529;
  font-size: 1.5rem;
}

#mainNav .navbar-toggler {
  font-size: 3rem;
  right: 0;
  padding: .8rem;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #61dafb;
  outline: none;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#mainNav .navbar-toggler:active {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

#mainNav .navbar-brand {
  color: #61dafb;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #2fcefa;
}

#mainNav .navbar-nav .nav-item a {
  font-size: 90%;
  font-weight: 400;
  color: #ffffff;
  -webkit-text-decoration: underline #61dafb;
          text-decoration: underline #61dafb;
  margin: 0 1rem;
  position: relative;
  overflow: hidden;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

#mainNav .navbar-nav .nav-item a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #61dafb;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  z-index: -2;
}

#mainNav .navbar-nav .nav-item a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

header.masthead {
  text-align: center;
  color: #ffffff;
  z-index: 1;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 2.2rem;
  font-style: italic;
  line-height: 2.2rem;
  margin-bottom: 2.5rem;
}

header.masthead .intro-text .intro-heading {
  font-size: 5rem;
  font-weight: 700;
  line-height: 5rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  header.masthead .intro-text .intro-lead-in {
    font-size: 4rem;
    font-style: italic;
    line-height: 4rem;
    margin-bottom: 2.5rem;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 7.5rem;
    font-weight: 700;
    line-height: 7.5rem;
    margin-bottom: 5rem;
  }
}

#skills {
  line-height: 1rem;
  background-color: #ffffff;
  color: #61dafb;
  padding: 6rem 0;
}

#skills .row p {
  line-height: 2.5rem;
}

#skills .service-heading {
  margin: 2rem 0 2rem;
  text-transform: none;
  color: #282c34;
}

#skills .section-heading {
  color: #282c34;
}

#work {
  line-height: 1rem;
  background-color: #282c34;
  color: #282c34;
  padding: 6rem 0;
}

#work .row p {
  line-height: 2.5rem;
}

#work .section-heading {
  color: #61dafb;
}

#work .section-subheading {
  color: #ffffff;
}

#work .card {
  width: 250px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  margin-bottom: 2rem;
}

#work .card:hover {
  -webkit-box-shadow: 4px 4px 4px black;
          box-shadow: 4px 4px 4px black;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 700px) {
  .card {
    margin: 1rem auto;
  }
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flip {
  position: relative;
}

.flip > .front,
.flip > .back {
  display: block;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.flip > .front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.flip:hover > .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip:hover > .back {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.flip.flip-vertical > .back {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.flip.flip-vertical:hover > .front {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.flip.flip-vertical:hover > .back {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.flip {
  position: relative;
  display: inline-block;
  width: 350px;
  text-align: center;
}

.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}

.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}

@media (max-width: 900px) {
  .flip {
    height: 200px;
  }
}

@media (max-width: 760px) {
  .flip {
    width: 300px;
  }
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}
/*# sourceMappingURL=index.css.map */