html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #282c34;
  z-index: -9999 !important;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5 {
  font-weight: 400;
}
p {
  font-size: 1.3rem;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -10;
  overflow: hidden;
}
.content {
  overflow: auto;
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.svg {
  height:100px; 
  width: 90px
}

// Button Styles
.button-wrapper {
  display: flex;
  justify-content: space-between;
}

.btn {
  font-weight: 700;
}

.btn-xl {
  font-size: $small-font;
  padding: .5rem 1rem;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgb(255, 255, 255) !important;
  }
}