html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  
  background: $secondary;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5 {
  font-weight: 700;
}
p {
  font-size: 1.3rem;
}

// Button Styles
.btn {
  font-weight: 700;
}

.btn-xl {

  font-size: $small-font;
  padding: 1.8rem 4rem;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  }
}