// Styling for the masthead
header.masthead {
  text-align: center;
  color: $font-primary;
  z-index: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .intro-text {
    .intro-lead-in {
      font-size: 2.2rem;
      font-style: italic;
      line-height: 2.2rem;
      margin-bottom: 2.5rem;
    }
    .intro-heading {
      font-size: 5rem;
      font-weight: 700;
      line-height: 5rem;
      margin-bottom: 2.5rem;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      .intro-lead-in {
        font-size: 4rem;
        font-style: italic;
        line-height: 4rem;
        margin-bottom: 2.5rem;
      }
      .intro-heading {
        font-size: 7.5rem;
        font-weight: 700;
        line-height: 7.5rem;
        margin-bottom: 5rem;
      }
    }
  }
}
