// Styling for the services section
#services {
  margin: 4rem 0;
  line-height: 1rem;
  color: $primary;

  .row p {
    line-height: 2.5rem;
  }
}

.service-heading {
  margin: 1.5rem 0;
  text-transform: none;
}

