// Styling for the services section
#work {
  line-height: 1rem;
  background-color: $secondary;
  color: $primary;
  padding: 6rem 0;
  .row p {
    line-height: 2.5rem;
  }
  .service-heading {
    margin: 2rem 0 2rem;
    text-transform: none;
  }
  .section-heading {
  }

}

